.box {  
    width: 100%;
    min-height: 450px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1.5em .8em;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
    text-align: left;

    &__title {
        padding-left: 17px;
        font-size: 28px;
        color: #FFF;
        text-align: left;
        margin: 0;
        font-family: "Segoe UI";
        margin-bottom: 30px;
    }

    &__title::after {
        content: '';
        display: block;
        height: 2px;
        width: 150px;
        margin-top: 12px;
        background-color: var(--accent-color);
    }

    &__content {
        text-align: center;
        margin: auto;
    }
}


@media screen and (min-width: 768px) {
    .box {
        padding: 2em;
        margin: auto;
        max-width: 1450px;

        &__title {
            margin-bottom: 15px;
        }

        &__content {
            padding-top: 20px;
            text-align: left;
        }

        &__content > * {
            margin: 20px 25px 30px 25px;
        }
    }
}