
body {
    margin: 0;
    padding: 0;
    background-color: rgb(33, 37, 41);
    overflow: hidden;
    
}

.site-login {
    max-width: 550px;
    margin: auto;
    min-height: 1050px;
}

.site-login > div {
    margin-top: 250px;
    background-color: #171B21;
    color: #FAFAFA;
}

.site-login .btn {
    background-color: #D27D2E;
    margin: auto;
    border: none;
    border-radius: 2px;
}