body {
    margin: 0;
    padding: 0;
    background-color: rgb(33, 37, 41);
    
}

.site-login {
    max-width: 550px;
    margin: auto;
    min-height: 1050px;
}

.site-login > div {
    margin-top: 250px;
    background-color: #171B21;
    color: #FAFAFA;
}

.site-login .btn {
    background-color: #D27D2E;
    margin: auto;
    border: none;
    border-radius: 2px;
}


.navbar {
    background-color: #12161B;
    
    a {
        color: #FFF !important;
    }
}

.navbar-fixed-left {
    position: fixed;
    bottom :0;
    width: 100vw;
}


@media screen and (min-width: 576px) {
    .site-login .btn {
        width: 200px;
        padding: 15px;
        font-size: 18px;
    }

}

@media screen and (min-width: 992px) {
    
    body {
        margin-left: 200px;
    }

    .navbar-fixed-left {
        bottom: none;
        top: 0 !important;
        left: 0;
        width: 200px;
        align-items: flex-start;


        .nav-box, .navbar-nav {
            height: 100%;
        }
        #navbarNav {
            height: calc(100% - 110px)
        }
        .navbar-nav {
            flex: 1;
        }

        .nav-item:last-child {
            margin-top: auto;
        }

        #navbarNav {
            align-items: flex-start;
        }
    }



    .navbar > * {
        width: 100%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column !important;
        text-align: center;
    }


    
    .nav-item {
        display: block;

        .nav-link {
            display: block;
            padding: 20px 0;
    
            &.active, &:hover {
                background-color:#1D2734;
            }
            
        }
    }

    .navbar-brand {
        display: block;
        padding: 25px 0;
        margin-bottom: 30px;
    }

    .nav-box * {
        text-align: center;
        width: 100%;
    }

}
