
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;700&display=swap');

:root {
  --dominant-color: #212529;
  --secondary-color: #161618;
  --accent-color: #e66c11;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Segoe UI";
  font-size: .8rem;
  letter-spacing: .3px;
  background-color: var(--dominant-color);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFF !important;
  height: 100%;
}

.wrapper {
  padding: 20px 10px;
}

.wrapper .box {
  margin-bottom: 50px;
}

.webpage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 5px;
}

.webpage__icon {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 25px;
}

div.webpage__icon > * {
    width: 100%;
    height: 100%;
}

p.webpage__name {
    display: inline-block;
    font-size: 24px;
    color: #FFF;
    padding: 0;
}

.link {
  text-decoration: none;
  display: block;
  margin: 0;
}


@media screen and (min-width: 768px) {
  
  .wrapper {
    padding: 40px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .webpage {
      margin: 40px;
      margin-top: 20px;
  }

  .webpage__icon {
      width: 64px;
      height: 64px;
      margin-right: 25px;
  }

  p.webpage__name {
      font-size: 38px;
      font-weight: 200;
  }
}

/* Navbar styles */



.nav-menu {
    height: 70px;
    width: 100vw;
    background-color: var(--secondary-color);
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
  }
  .nav-menu__brand, .nav-menu__item:nth-child(4) {
    display: none;
  }
  .nav-menu__item {
    flex: 1;
  }
  .nav-menu__item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #e2e4eb;
  }
  .nav-menu__item .item:hover {
    color: #FFF;
    cursor: pointer;
  }
  
  .nav-menu__item .item:hover svg {
    fill: var(--accent-color);
    /* #e66c11; */
    transition-duration: 0.2s;
  }
  .nav-menu__item svg g {
    stroke: var(--accent-color);
  }
  .nav-menu__item__icon {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px;
    fill: transparent;
  }
  .nav-menu__item__label {
    display: none;
    font-family: 'Work Sans';
    color: #FBFBFB;
    font-weight: 300;
  }
  
  .nav-menu__item .logout {
    background-color: inherit; 
    border: none; 
    height: 100%;
}
  
  @media screen and (min-width: 768px) {
    html {
      margin-left: 100px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      left: 0;
      top: 0;
      height: 100%;
      width: 100px;
    }
    .nav-menu__item:nth-child(4) {
      display: block;
    }
    .nav-menu__brand {
      height: 110px;
      width: 110px;
      display: flex;
      justify-content: center;
      margin-top: 7px;
    }
    .nav-menu__brand img {
      width: 60px;
      height: 60px;
      margin: auto;
    }
    .nav-menu__item {
      flex: none;
      height: 90px;
      margin-bottom: 20px;
    }
    .nav-menu__item__icon {
      width: 60%;
      height: 100%;
      padding: 0;
      box-sizing: border-box;
    }
    .nav-menu__item:last-child {
      margin-top: auto;
      margin-bottom: 20px;
    }
    .nav-menu__item--active svg {
      fill: var(--accent-color);
    }
    
    .nav-menu__item .item {
      padding: 4px;
      padding-top: 0;
    }
  }
  @media screen and (min-width: 950px) {
    :root {
      font-size: 18px;
    }
  
    html {
      margin-left: 160px;
    }
  
    .nav-menu {
      flex-direction: column;
      left: 0;
      top: 0;
      height: 100%;
      width: 160px;
    }
    .nav-menu__item:nth-child(4) {
      display: block;
    }
    .nav-menu__brand {
      height: 110px;
      width: 110px;
      display: flex;
      justify-content: center;
      margin: 20px auto;
    }
    .nav-menu__brand img {
      width: 80px;
      height: 80px;
      margin: auto;
    }
    .nav-menu__item {
      flex: none;
      height: 130px;
    }
    .nav-menu__item__icon {
      width: 65%;
      padding: 0;
      box-sizing: border-box;
    }
    .nav-menu__item__label {
      display: block;
      margin-top: 0;
    }
    .nav-menu__item:last-child {
      margin-top: auto;
    }
    .nav-menu__item--active svg {
      fill: var(--accent-color);
    }
    .nav-menu__item .item {
      padding: 26px;
      padding-top: 0;
      box-sizing: border-box;

    }
  }


  /* Box */

  .box {
    width: 100%;
    min-height: 450px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1.5em 0.8em;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px black;
    text-align: left;
  }
  .box__title {
    padding-left: 17px;
    font-size: 28px;
    color: #FFF;
    text-align: left;
    margin: 0;
    font-family: "Segoe UI";
    margin-bottom: 30px;
  }
  .box__title::after {
    content: "";
    display: block;
    height: 2px;
    width: 150px;
    margin-top: 12px;
    background-color: var(--accent-color);
  }
  .box__content {
    text-align: center;
    margin: auto;
  }
  
  @media screen and (min-width: 768px) {
    .box {
      padding: 2em;
      margin: auto;
      max-width: 1450px;
    }
    .box__title {
      margin-bottom: 15px;
    }
    .box__content {
      padding-top: 20px;
      text-align: left;
    }
    .box__content > * {
      margin: 20px 25px 30px 25px;
    }
  }


  /* Tile */


  .tile {
    width: 150px;
    height: 180px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 15px 0px #0c0c0c;
    margin: 15px;
    text-decoration: none;
  }
  .tile__image > * {
    max-height: 110px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 0;
  }
  .tile__title {
    color: #FFF;
    margin-top: 15px;
  }
  
  .tile:hover {
    transform: scale(1.05);
  }
  

/* Card */

  .card {
    min-height: 110px;
    border-radius: 10px;
    box-shadow: inset 0 0 4px 0 var(--dominant-color); 
    margin-bottom: 6px;
    box-sizing: border-box;
    text-align: left;
    transition-duration: .1s;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}

.card:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .card {
        min-height: 150px; 
        margin-bottom: 17px;
    }
}

.card:hover {
  background-color: rgb(26, 27, 29);
}

.card p {
  margin: 0;
  padding: 0;
  color: #FFF;
}

.card > * {
  margin-left: 15px;
}

.card__locked {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: inherit;
  z-index: 10;
  margin: 0;
  cursor:initial;
  text-align: center;
}

.card__info__title {
  font-weight: 600;
  padding-bottom: 5px !important;
}

.padlock-icon {
  display: inline-block;
  padding: 1em;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .card__info > p {
      margin: 5px 0;
  }

  .padlock-icon {
      padding: 2em;
  }
}


/* Circle Progress */

.circle-progress {
  width: 40px;
  height: 40px;
  position: relative;
}
.circle-progress__inner {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 6;
  background: var(--secondary-color);
}
.circle-progress__inner__number {
  display: none;
  font-size: 1.4rem;
  font-family: "Segoe UI";
  transform: translateY(80%);
  text-align: center;
}
.circle-progress__outer {
  width: 100%;
  height: 100%;
  background-color: #e7e6e6;
  border-radius: 50%;
}
.circle-progress__outer__bar {
  width: 100%;
  height: 100%;
  clip: rect(0, 40px, 40px, 20px);
}
.circle-progress__outer__left, .circle-progress__outer__right {
  position: absolute;
}
.circle-progress__outer__left__progress, .circle-progress__outer__right__progress {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  clip: rect(0, 20px, 40px, 0);
  background: var(--accent-color);
}
.circle-progress__outer__right {
  transform: rotate(180deg);
  z-index: 3;
}
.circle-progress__outer__right__progress {
  animation: rotate-right 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.circle-progress__outer__left__progress {
  z-index: 1;
  animation: rotate-left 0.3s linear;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  .circle-progress {
    height: 120px;
    width: 120px;
    margin-right: 15px;
  }
  .circle-progress__inner__number {
    display: block;
  }
  .circle-progress__outer__bar {
    clip: rect(0, 120px, 120px, 60px);
  }
  .circle-progress__outer__left__progress, .circle-progress__outer__right__progress {
    clip: rect(0, 60px, 120px, 0);
  }
}


  /* List of lessons view */
  
  .lessons-list {
    list-style-type: none;
    width: auto;
    text-align: left;
    color: #FFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 30px;
  
    margin-bottom: 50px;
  
  }
  
  .lessons-list li {
    padding: 1.5em;
    padding-left: 6px;
    border-bottom: 1px solid #323234;
    color: #e2e4eb;
  }

  .lessons-list li img.finished {
    max-width: 15px;
    max-height: 15px;
    margin-right: 12px;
  }
  
  .lessons-list a:hover {
    font-size: 15px;
  }

  /* Lesson details */

  .lesson {
    color: #FBFBFB;
    font-size: 16px;
    font-family: 'Work Sans', 'Segoe UI', sans-serif;
    font-weight: 300;
    line-height: 23px;    
    margin-top: 0;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}


.btn {
  background-color: #1C365D;
  border: none;
  flex: 1;
  color: #FFF;
  font-family: 'Work Sans';
  font-size: 18px;
  font-weight: 300;
  margin-right: 5px;
  padding: 20px 5px;
  padding-left: 30px;
  padding-right: 30px;

}

.btn:not(.disabled):hover {
  cursor: pointer;
  background-color: #2D476E;
}

.btn.disabled {
  position: relative;
}

.btn.disabled::after  {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #373d45;
  opacity: .6;
  cursor: not-allowed;
}


/* Profile */


.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
  align-items: center;
  width: 100%;

}
.settings-text {
  display: none;
}
.user {
  display: flex;
  margin-top: 20px;
}

.settings-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 21px;
  font-weight: 200;
  height: 75px;
}
.settings-btn:hover {
  cursor: pointer;
}

.settings-icon {
  height: 70%;
  margin-left: 10px;
}

.user-avatar {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  background-color: silver;
  box-shadow: inset 0 0 10px 2px #000;
  border-radius: 50%;
}

.user-info {
  color: #e2e4eb;
  align-self: center;
  font-size: 18px;
  margin-left: 1.5em;
}

.user-fullname {
  margin: 0;
  font-weight: 700;
}

.user-job {
  margin-top: 7px;
  font-size: 16px;
}

div.user-section {
  text-align: center;
  color: #b8bac7;    
  width: 95%;
  margin: auto;
  margin-top: 50px;
  max-width: 576px;
}

.user-section__title {
  text-align: left;
  font-size: 20px;
}

.user-section__description {
  border: 1px solid rgba(226, 228, 235, .08);
  border-radius: 4px;
  padding: 1em;
  line-height: 1.4em;
  letter-spacing: .4px;
  text-align: left;
  text-indent: 15px;
}
@media screen and (min-width: 768px) {


  .settings-icon {
      height: 60%;
  }

  .wrapper {
      margin: auto;
      padding: 30px;
  }
}

@media screen and (min-width: 1124px) {

  .user-avatar {
      width: 90px;
      height: 90px;
  }
  
  .top-section {
      max-width: 1024px;
  }

  .settings-text {
      display: inline;
  }

  .settings-icon {
      height: 40%;
  }

  .wrapper {
      max-width: 65%;
  }
}

/* Settings */


.settings {    
  display: flex;
  flex-direction: column;
  width: 100%;

}

.settings-tabs, .settings-content {
  background-color: var(--secondary-color);
  width: 100%;
}

.settings-tabs ul {
  padding: 0;
}

.settings-tab {
  font-family: "Segoe UI";
  font-weight: 200;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 2px;
}

.settings-tab:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.settings-tabs {
  box-sizing: border-box;
}

.settings-tabs a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 24px 0 24px 0;
  width: auto;
}

.settings-content {
  padding-top: 35px;
  min-height: 550px;
  margin-bottom: 90px;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}


@media screen and (min-width: 1124px) {
  .settings {
      flex-direction: row;
      max-width: 1850px;
  }

  .settings-tabs {
      width: 450px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  box-shadow: -2px 0px 5px 1px rgb(0, 0, 0);
  }

  .settings-tabs a {
      padding: 15px 0 15px 0;
  }

  .settings-content {
      height: 650px;
      margin: 0;
      margin-left: 7px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  box-shadow: 3px 0px 5px 1px rgb(0, 0, 0);
  }

}